/MyAssignment/nbproject/private/
/MyAssignment/build/
/Test2_3/nbproject/private/
/Test2_3/build/
/Test2_3/dist/
/Test1/nbproject/private/
/Test1/build/
/Test1/dist/
/TestB1/nbproject/private/
/TestB1/build/
/TestB1/dist/
/MyAssignment/dist/
